*{
  padding: 0;
  margin:  0;
  box-sizing:border-box;
}

body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color:#8862e8;
color:#f2c2ff;
min-height: 100vh;
display: flex;
justify-content:center;
align-items: center;
flex-direction: column;
text-align:center;
margin:0;
}

h1{
  font-size:3.2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
  font-size:1.7em;
  margin-top:21px;
}

.mensagem{
font-size:1.5em;
margin-top:40px;
}

.box{
  border:2px solid #f2c2ff;
  display:inline-block;
  font-size: 3.7em;
  padding:10px;
  margin:20px;
}

.btn-jogar{
    padding: 8px 15px;
    border: 0;
    background: cyan;
    border-radius: 5px;
    margin-top: 20px;
}


footer{
  position:fixed;
 bottom:0;
}
